/* FashionPage.jsx */
.item {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.item figure img {
  max-width: 50%;
  max-height: 50%;
  transition: transform 0.3s ease;
}
.item figure img:hover {
  transform: scale(1.5);
}

/* DigitalPage.jsx */
.digital.item {

}




/* AccessoryPage.jsx */
.accessory.item {

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .grid-item img {
    width: 100%;
    height: auto;
  }