/* FashionPage.jsx */
/* AccessoryPage.jsx */
/* DigitalPage.jsx */

.item {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.item .card {
  height: 500px;
}
.item figure img {
  max-width: 50%;
  max-height: 50%;
  transition: transform 0.3s ease;
}
.item figure img:hover {
  transform: scale(1.5);
}
