/* Header.jsx */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 7px 20px;
}
header .header-left {
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 16px;
    font-weight: 700;
}

header nav ul {
    display: flex;
    margin-left: 20px;
}
header nav ul li .nav-link{
    font-size: 13px;
    font-weight: 700;
    margin: 0 2px;
    padding: 6px 12px;
    border-radius: 5px;
}
header nav ul li .nav-link:hover {
    transition: all 0.3s;
    background-color: #191d247e;
}
.light-mode .nav-link:hover {
    color: #000;
    background-color: #66686b82;
}

.dark-mode .nav-link:hover {
    color: #fff;
    background-color: #353A42;
}
header .header-right ul {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
header .header-right ul li {
    margin: 0 8px;
}
input:focus {
    outline: none;
}